<!-- <div>
  <mat-icon color="primary">backup</mat-icon>
</div> -->
<div>
  <span [matBadge]="notification" matBadgePosition="below before" [matBadgeHidden]="notification === 0">Notifications</span>
</div>
<div>
  <span matBadge=5 matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge=5 matBadgePosition="above before">Notifications</span>
</div>
<div>
  <span matBadge=5 matBadgePosition="above after">Notifications</span>
</div>
<div>
    <h3>Hello there</h3>
    <span matBadge=5 matBadgePosition="below before" matBadgeSize="medium">Notifications</span>
  </div>
  <div>
    <span matBadge=5 matBadgePosition="below after" matBadgeSize="large">Notifications</span>
  </div>
  <div>
    <span matBadge=5 matBadgePosition="above before" matBadgeSize="small">Notifications</span>
  </div>
  <div>
    <span matBadge=5 matBadgePosition="above after">Notifications</span>
  </div>
  <div>
      <h3>Hello there</h3>
      <span matBadge=5 matBadgePosition="below before" matBadgeSize="medium" matBadgeColor="primary">Notifications</span>
    </div>
    <div>
      <span matBadge=5 matBadgePosition="below after" matBadgeSize="large" matBadgeColor="accent">Notifications</span>
    </div>
    <div>
      <span matBadge=5 matBadgePosition="above before" matBadgeSize="small" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
    </div>

<!-- <div>
    <mat-button-toggle #toggleButton checked disableRipple disabled>click me</mat-button-toggle>
    {{toggleButton.checked}}
  </div> -->
  <!-- <div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
  </div> -->

<!-- <div>
    <button mat-button>Click Me</button>
    <button mat-flat-button>Click Me</button>
    <button mat-stroked-button>Click Me</button>
    <button mat-raised-button>Click Me</button>
</div>
<div>
    <button mat-icon-button>Click Me</button>
    <button mat-fab>Click Me</button>
    <button mat-mini-fab>Click Me</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="warn" mat-button>Warn</button>
</div> -->


<!---
<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>
<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>
 <div class="mat-typography">
  typgraphy helps us to use the h1 tags with there allocated sizes in case of normal css html -->
  <!-- <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div> --> 
